@import "tailwindcss";

/* Kalo error "@import" ga dikenali di VS Code, cuekin aja. 
  Itu valid di Next.js 16 / Tailwind v4.
*/

@layer base {
  body {
    /* Hapus 'font-sans' dari sini biar ga crash */
    @apply relative z-0 text-slate-600 antialiased bg-slate-100;
  }
}

@layer components {
  /* Style Input */
  .input-style {
    @apply w-full rounded-lg border-[1.5px] border-slate-300 bg-transparent px-5 py-3 text-black outline-none transition focus:border-blue-600 active:border-blue-600 disabled:cursor-default disabled:bg-slate-100 dark:bg-slate-800 dark:text-white dark:border-slate-600;
  }

  /* Style Label */
  .label-style {
    @apply mb-2.5 block font-medium text-black dark:text-white;
  }

  /* Style Card */
  .card-style {
    @apply rounded-sm border border-slate-200 bg-white shadow-md dark:border-slate-700 dark:bg-slate-900;
  }
}
